#pageBodyP {
    height: 60px;
}

/*
*	PANES & CONTENT-DIVs
*/
.ui-layout-pane {
    /* all 'panes' */
    background: #FFF;
    border: 1px solid #BBB;
    /* DO NOT add scrolling (or padding) to 'panes' that have a content-div,
        otherwise you may get double-scrollbars - on the pane AND on the content-div
     */
    padding: 10px;
    overflow: auto;
}

/* (scrolling) content-div inside pane allows for fixed header(s) and/or footer(s) */
.ui-layout-content {
    height: auto;

    position: relative; /* contain floated or positioned elements */
    overflow: auto; /* add scrolling to content-div */
}

.ui-layout-north {
    border: 0 !important;
    background: none !important;

}

.ui-layout-pane-north {
    border: 0 !important;
    background: none !important;

}

.dataTables_filter {
    display: none;
}

#overlay {
    visibility: hidden;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    margin: auto;
    z-index: 1000;
    background-image: url(maskBG.png);
}

#dispenseform {
    background-image: url(maskBG.png);

}

#encountform {
    background-image: url(maskBG.png);

}

.ui-dform-tr input {

    width: 100px;
}

#test2 {
    text-align: center;
}

#red {

    color: blue;
    border: 2px solid blue;
    background: #e2e4ff;
}

.boxHeaderP {
    background: #e2e4ff;
}

.required {

    color: black;

}

.cen {
    text-align: center;
}

#caption2 {
    text-align: center;
}

.cen input {
    outline: none;
}

.cen {
    position: absolute;
    right: 300px;
    outline: none;
}

.cen {
    position: absolute;
    right: 300px;
    outline: none;
    border: none;
}

.url {
    margin-left: 5cm;
}

#spinner {
    position: fixed;
    left: 60%;
    top: 50%;

    z-index: 1000;
    height: 31px;
    width: 31px;

}

#h1 {

    background: #e2e4ff;

    text-align: center;

}

#overlay div {
    width: 400px;
    margin: auto;
    background-color: #fff;
    border: 1px solid #000;
    padding: auto;

}

#incss label {
    width: 200px;
    display: block;
    float: left;
}

#incss input {

    width: 200px;
}

#incss select {

    width: 200px;
}

.ui-layout-content {

    border-right: 1px solid #000;
    padding: 0 0 1em 0;
    margin-bottom: 1em;

}

.ui-layout-content  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border: none;
}

.ui-layout-content  li {

    border-bottom: 1px solid #e2e4ff;
    margin: 0;
}

.ui-layout-content li a {
    display: block;
    padding: 5px 5px 5px 0.5em;
    border-left: 10px solid #e2e4ff;
    border-right: 10px solid #e2e4ff;
    background-color: #ffffff;
    color: #000000;
    text-decoration: none;
    width: 100%;
}

.top {
    display: inline;
    padding: 5px 5px 5px 0.5em;
    border-left: 10px solid #e2e4ff;
    border-right: 10px solid #e2e4ff;
    background-color: #ffffff;
    color: #000000;
    text-decoration: none;

}

.top a:hover {
    border-left: 10px solid #e2e4ff;
    border-right: 10px solid #e2e4ff;
    background-color: #e2e4ff;
    color: #fff;
}

.ui-layout-content  li a {
    width: auto;
}

.ui-layout-content   li a:hover {
    border-left: 10px solid #e2e4ff;
    border-right: 10px solid #e2e4ff;
    background-color: #e2e4ff;
    color: #fff;
}

#filteroutgoing, #submitAllDiv, #SaveDiv {
    width: 450px;
    height: auto;
    overflow-x: auto;

    float: left;
}

#parent_div_1out, #parent_div_2out {
    width: 450px;
    height: auto;
    overflow-x: auto;

    float: left;
}

#dispenseform, #encountform {
    overflow-x: auto;

}

#parent_div_1, #parent_div_2 {
    width: 450px;
    height: auto;
    overflow-x: auto;

    float: left;
}

em {
    text-decoration: underline;
}

.statusBlack {
    color: black;
}

.statusRed {
    background-color: #e2e4ff;
    color: red;
}

.statusBlue {
    background-color: #e2e4ff;
    color: blue;
}

.statusGreen {
    color: green;
}

.highlight {
    background-color: #ff009b;
}

/* Link styles */
a {
    color: #369;
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Main list for link that makes the pop menu show */
ul.popIncoming li {
    list-style: none;
}

/* Pop menu styles */
ul.popIncoming ul.popIncoming {
    position: absolute;
    display: none;
    margin: 2px 0 0 0;
    padding: 0;
    width: 135px;
    background-color: #F4F4F4;
    border: solid 1px #DDD;
    border-bottom: none;
}

ul.popIncoming ul.popIncoming  a {
    display: block;
    padding: 6px 15px 5px 15px;
    font: 11px Arial, Helvetica, sans-serif;
    color: #000;
    border-bottom: solid 1px #DDD;
}

ul.popIncoming ul.popIncoming  a:hover {
    color: #FFF;
    text-decoration: none;
    background-color: #BAB;
}

/* Pop menu styles */
ul.popApproved ul.popApproved {
    position: absolute;
    display: none;
    margin: 2px 0 0 0;
    padding: 0;
    width: 135px;
    background-color: #F4F4F4;
    border: solid 1px #DDD;
    border-bottom: none;
}

ul.popApproved ul.popApproved  a {
    display: block;
    padding: 6px 15px 5px 15px;
    font: 11px Arial, Helvetica, sans-serif;
    color: #000;
    border-bottom: solid 1px #DDD;
}

ul.popApproved ul.popApproved  a:hover {
    color: #FFF;
    text-decoration: none;
    background-color: #BAB;
}

/* Pop menu styles */
ul.popOutgoing ul.popOutgoing {
    position: absolute;
    display: none;
    margin: 2px 0 0 0;
    padding: 0;
    width: 135px;
    background-color: #F4F4F4;
    border: solid 1px #DDD;
    border-bottom: none;
}

ul.popOutgoing ul.popOutgoing  a {
    display: block;
    padding: 6px 15px 5px 15px;
    font: 11px Arial, Helvetica, sans-serif;
    color: #000;
    border-bottom: solid 1px #DDD;
}

ul.popOutgoing ul.popOutgoing  a:hover {
    color: #FFF;
    text-decoration: none;
    background-color: #BAB;
}

/* Pop menu styles */
ul.popRegimenN ul.popRegimenN {
    position: absolute;
    display: none;
    margin: 2px 0 0 0;
    padding: 0;
    width: 135px;
    background-color: #F4F4F4;
    border: solid 1px #DDD;
    border-bottom: none;
}

ul.popRegimenN ul.popRegimenN  a {
    display: block;
    padding: 6px 15px 5px 15px;
    font: 11px Arial, Helvetica, sans-serif;
    color: #000;
    border-bottom: solid 1px #DDD;
}

ul.popRegimenN ul.popRegimenN  a:hover {
    color: #FFF;
    text-decoration: none;
    background-color: #BAB;
}

/* Pop menu styles */
ul.popRegimenC ul.popRegimenC {
    position: absolute;
    display: none;
    margin: 2px 0 0 0;
    padding: 0;
    width: 135px;
    background-color: #F4F4F4;
    border: solid 1px #DDD;
    border-bottom: none;
}

ul.popRegimenC ul.popRegimenC  a {
    display: block;
    padding: 6px 15px 5px 15px;
    font: 11px Arial, Helvetica, sans-serif;
    color: #000;
    border-bottom: solid 1px #DDD;
}

ul.popRegimenC ul.popRegimenC  a:hover {
    color: #FFF;
    text-decoration: none;
    background-color: #BAB;
}

/* Pop menu styles */
ul.popSupplier ul.popSupplier {
    position: absolute;
    display: none;
    margin: 2px 0 0 0;
    padding: 0;
    width: 135px;
    background-color: #F4F4F4;
    border: solid 1px #DDD;
    border-bottom: none;
}

ul.popSupplier ul.popSupplier  a {
    display: block;
    padding: 6px 15px 5px 15px;
    font: 11px Arial, Helvetica, sans-serif;
    color: #000;
    border-bottom: solid 1px #DDD;
}

ul.popSupplier ul.popSupplier  a:hover {
    color: #FFF;
    text-decoration: none;
    background-color: #BAB;
}

/* Pop menu styles */
ul.popTransaction ul.popTransaction {
    position: absolute;
    display: none;
    margin: 2px 0 0 0;
    padding: 0;
    width: 135px;
    background-color: #F4F4F4;
    border: solid 1px #DDD;
    border-bottom: none;
}

ul.popTransaction ul.popTransaction  a {
    display: block;
    padding: 6px 15px 5px 15px;
    font: 11px Arial, Helvetica, sans-serif;
    color: #000;
    border-bottom: solid 1px #DDD;
}

ul.popTransaction ul.popTransaction  a:hover {
    color: #FFF;
    text-decoration: none;
    background-color: #BAB;
}

/* Pop menu styles */
ul.popLocation ul.popLocation {
    position: absolute;
    display: none;
    margin: 2px 0 0 0;
    padding: 0;
    width: 135px;
    background-color: #F4F4F4;
    border: solid 1px #DDD;
    border-bottom: none;
}

ul.popLocation ul.popLocation  a {
    display: block;
    padding: 6px 15px 5px 15px;
    font: 11px Arial, Helvetica, sans-serif;
    color: #000;
    border-bottom: solid 1px #DDD;
}

ul.popLocation ul.popLocation  a:hover {
    color: #FFF;
    text-decoration: none;
    background-color: #BAB;
}

/* Pop menu styles */
ul.popLocationUsers ul.popLocationUsers {
    position: absolute;
    display: none;
    margin: 2px 0 0 0;
    padding: 0;
    width: 135px;
    background-color: #F4F4F4;
    border: solid 1px #DDD;
    border-bottom: none;
}

ul.popLocationUsers ul.popLocationUsers  a {
    display: block;
    padding: 6px 15px 5px 15px;
    font: 11px Arial, Helvetica, sans-serif;
    color: #000;
    border-bottom: solid 1px #DDD;
}

ul.popLocationUsers ul.popLocationUsers  a:hover {
    color: #FFF;
    text-decoration: none;
    background-color: #BAB;
}

/* Pop menu styles */
ul.popCategory ul.popCategory {
    position: absolute;
    display: none;
    margin: 2px 0 0 0;
    padding: 0;
    width: 135px;
    background-color: #F4F4F4;
    border: solid 1px #DDD;
    border-bottom: none;
}

ul.popCategory ul.popCategory  a {
    display: block;
    padding: 6px 15px 5px 15px;
    font: 11px Arial, Helvetica, sans-serif;
    color: #000;
    border-bottom: solid 1px #DDD;
}

ul.popCategory ul.popCategory  a:hover {
    color: #FFF;
    text-decoration: none;
    background-color: #BAB;
}

/* Pop menu styles */
ul.popMax ul.popMax {
    position: absolute;
    display: none;
    margin: 2px 0 0 0;
    padding: 0;
    width: 135px;
    background-color: #F4F4F4;
    border: solid 1px #DDD;
    border-bottom: none;
}

ul.popMax ul.popMax  a {
    display: block;
    padding: 6px 15px 5px 15px;
    font: 11px Arial, Helvetica, sans-serif;
    color: #000;
    border-bottom: solid 1px #DDD;
}

ul.popMax ul.popMax  a:hover {
    color: #FFF;
    text-decoration: none;
    background-color: #BAB;
}

ul.popSet ul.popSet {
    position: absolute;
    display: none;
    margin: 2px 0 0 0;
    padding: 0;
    width: 135px;
    background-color: #F4F4F4;
    border: solid 1px #DDD;
    border-bottom: none;
}

ul.popSet ul.popSet  a {
    display: block;
    padding: 6px 15px 5px 15px;
    font: 11px Arial, Helvetica, sans-serif;
    color: #000;
    border-bottom: solid 1px #DDD;
}

ul.popSet ul.popSet  a:hover {
    color: #FFF;
    text-decoration: none;
    background-color: #BAB;
}

ul.popGeneral ul.popGeneral {
    position: absolute;
    display: none;
    margin: 2px 0 0 0;
    padding: 0;
    width: 135px;
    background-color: #F4F4F4;
    border: solid 1px #DDD;
    border-bottom: none;
}

ul.popGeneral ul.popGeneral  a {
    display: block;
    padding: 6px 15px 5px 15px;
    font: 11px Arial, Helvetica, sans-serif;
    color: #000;
    border-bottom: solid 1px #DDD;
}

ul.popGeneral ul.popGeneral  a:hover {
    color: #FFF;
    text-decoration: none;
    background-color: #BAB;
}

/* Pop menu styles */
ul.popMenu ul.popOut {
    position: absolute;
    display: none;
    margin: 2px 0 0 0;
    padding: 0;
    width: 135px;
    background-color: #F4F4F4;
    border: solid 1px #DDD;
    border-bottom: none;
}

ul.popMenu ul.popOut  a {
    display: block;
    padding: 6px 15px 5px 15px;
    font: 11px Arial, Helvetica, sans-serif;
    color: #000;
    border-bottom: solid 1px #DDD;
}

ul.popMenu ul.popOut  a:hover {
    color: #FFF;
    text-decoration: none;
    background-color: #BAB;
}

/**
* POPUP CONTAINER STYLES
*/
#popupMask {
    position: absolute;
    z-index: 200;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: .4;
    filter: alpha(opacity = 40);
    /* this hack is so it works in IE
      * I find setting the color in the css gives me more flexibility
      * than the PNG solution.
      */
    background-color: transparent !important;
    background-color: #333333;
    /* this hack is for opera support
      * you can uncomment the background-image if you don't care about opera.
      * this gives you the flexibility to use any bg color that you want, instead of the png
      */
    background-image /**/: url("maskBG.png") !important;

/
/
For browsers Moz, Opera, etc.
	background-image:none

;
background-repeat: repeat

;
display:none

;
    }

#popupContainer {
    position: absolute;
    z-index: 201;
    top: 0px;
    left: 0px;
    display: none;
    padding: 0px;
}

#popupInner {
    border: 2px solid #000000;
    background-color: #ffffff;
}

#popupFrame {
    margin: 0px;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 202;
}

#popupTitleBar {
    background-color: #486CAE;
    color: #ffffff;
    font-weight: bold;
    height: 1.3em;
    padding: 5px;
    border-bottom: 2px solid #000000;
    border-top: 1px solid #78A3F2;
    border-left: 1px solid #78A3F2;
    border-right: 1px solid #204095;
    position: relative;
    z-index: 203;
}

#popupTitle {
    float: left;
    font-size: 1.1em;
}

#popupControls {
    float: right;
    cursor: pointer;
    cursor: hand;
}


.bottomline {
    padding: 15px;
    background-color: #F5F5F5;
    border: 1px solid #CCCCCC;
}